.alert {
  font-size: $font-size-sm;
}

@include media-breakpoint-up(md) {
  .alert {
    font-size: $font-size-base;
  }
}

.alert .alert-link {
  text-decoration: underline;
}

.alert-dark {
  color: $gray-100;
  background-color: $gray-900;
}

.alert-dark .alert-link {
  color: $gray-100;
}

.alert-primary {
  color: $gray-100;
  background-color: $primary;
}

.alert-primary .alert-link {
  color: $gray-100;
}

.alert .alert-link:hover,
.alert .alert-link:focus {
  text-decoration: none;
}

.alert-dismissible .btn-close {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  z-index: 2;
  padding: 0.5rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-x'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E");
  background-size: 1.125rem;
  filter: invert(1) grayscale(100%) brightness(200%);
}

[data-global-alert="closed"] #announcement {
  display: none;
}
