<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
  {{ partial "head/head.html" . }}
  <body>
    {{ block "header" . }}{{ partial "site/header.html" . }}{{ end }}
    <div class="wrap container" role="document">
      <div class="content">
        <main class="main">
          {{ block "main" . }}{{ end }}
        </main>
     </div>
    </div>
    {{ block "footer" . }}{{ partial "site/footer.html" . }}{{ end }}
    {{ block "site/scripts" . }}{{ partial "site/scripts.html" . }}{{ end }}
  </body>
</html>