<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
  {{ partial "head/head.html" . }}
  {{ $template := "" }}
  {{ $type := "default" }}
  {{ if ne .Type "page" }}
    {{ $type = .Type }}
  {{ end }}
  {{ if or (eq .Kind "404") (eq .Kind "page") }}
    {{ $template = "single" }}
  {{ else if or (eq .Kind "section") (eq .Kind "taxonomy") (eq .Kind "taxonomyTerm") -}}
    {{ $template = "list" }}
  {{ end -}}
  {{ .Scratch.Set "class" (slice .Kind $template $type) -}}
  <body class="{{ delimit (.Scratch.Get "class") " " }}">
    {{ if and .IsHome .Site.Params.alert }}
      {{ partial "header/alert.html" . }}
    {{ end }}
    {{ partial "header/header.html" . }}
    <div class="wrap container" role="document">
      <div class="content">
        {{ block "main" . }}{{ end }}
      </div>
    </div>
    {{ block "sidebar-footer" . }}{{ end }}
    {{ partial "footer/footer.html" . }}
    {{ partial "footer/script-footer.html" . }}
  </body>
</html>