<!-- TODO: https://swiperjs.com/demos -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

<section
  id="slider"
  class="
    slider-element slider-parallax
    swiper_wrapper
    min-vh-60 min-vh-md-100
    include-header
  "
  data-loop="true"
>
  <div class="slider-inner">
    <div class="swiper-container swiper-parent">
      <div class="swiper-wrapper">
        <div class="swiper-slide dark">
          <div class="container">
            <div class="slider-caption slider-caption-center">
              <div>
                <h2 class="font-primary nott">Creative Work.</h2>
                <p class="font-weight-light font-primary d-none d-sm-block">
                  Quickly communicate bleeding-edge best practices.
                </p>
                <a
                  href="#"
                  class="
                    button button-rounded button-large
                    nott
                    ls0
                    font-primary
                  "
                  >Get Started</a
                >
              </div>
            </div>
          </div>

          <div
            class="swiper-slide-bg"
            style="background-image: url('/images/slider/1.jpg')"
          ></div>
        </div>
        <div class="swiper-slide dark">
          <div class="container">
            <div class="slider-caption slider-caption-center">
              <div>
                <h2 class="font-primary">Amazing Prospects.</h2>
                <p class="font-weight-light font-primary d-none d-sm-block">
                  Seamlessly engineer effective synergy after e-business
                  experiences.
                </p>
                <a
                  href="#"
                  class="
                    button button-rounded button-large
                    nott
                    ls0
                    font-primary
                  "
                  >Get Started</a
                >
              </div>
            </div>
          </div>
          <div
            class="swiper-slide-bg"
            style="background-image: url('/images/slider/2.jpg')"
          ></div>
        </div>
        <div class="swiper-slide dark">
          <div class="container">
            <div class="slider-caption slider-caption-center">
              <div>
                <h2 class="font-primary">Flexible Works.</h2>
                <p class="font-weight-light font-primary d-none d-sm-block">
                  Completely incubate worldwide users before imperatives.
                </p>
                <a
                  href="#"
                  class="
                    button button-rounded button-large
                    nott
                    ls0
                    font-primary
                  "
                  >Get Started</a
                >
              </div>
            </div>
          </div>
          <div
            class="swiper-slide-bg"
            style="background-image: url('/images/slider/3.jpg')"
          ></div>
        </div>
      </div>
      <!-- Slider Arrows
					============================================= -->
      <div class="slider-arrow-left" class="bg-transparent">
        <i class="icon-line-arrow-left"></i>
      </div>
      <div class="slider-arrow-right" class="bg-transparent">
        <i class="icon-line-arrow-right"></i>
      </div>
    </div>

    <!-- Slider Mouse Icon
				============================================= -->
    <a
      href="#"
      data-scrollto="#content"
      data-offset="0"
      class="dark one-page-arrow"
      ><img
        class="infinite animated fadeInDown"
        src="/images/mouse.svg"
        alt="Image"
    /></a>
  </div>
</section>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
  const swiper = new Swiper(".swiper-container", {
    // Optional parameters
    loop: true,

    // If we need pagination
    pagination: {
      el: ".swiper-pagination",
    },

    // Navigation arrows
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },

    // And if we need scrollbar
    scrollbar: {
      el: ".swiper-scrollbar",
    },
  });
</script>
